<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <!-- Meta Information -->
  <title>Reasonable Realities</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />

  <!-- Font Imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Sen:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- Font Awesome Import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/header.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<!-- App JS -->
<script type="text/javascript" src="/scripts/client.js"></script>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span><p class="reason">Reasonable</p> <p class="reality">Realities</p></span>
    <div class="button" id="header">
    <button class="header" href="/login">Login</button>
    <button class="header" >Sell</button>
    <button class="header" >My Purchases</button>
    <button class="header" >My Favourites</button>
  </div>
  </nav>


  <!-- Page-specific (main) content here -->
  <main id="items-container" class="items">
    <!-- <div class="layout">
      <h2>Ceilidhe Avatar</h2>
      <img src="/images/ceilidhe_avatar2.png" />
        <h2>$250</h2>
        <p>It's Ceilidhe, but as an Avatar!!</p>
        <div class="button2">
          <button class="button">Favourite</button>
          <button class="button">Buy</button>
          <button class="button">View</button></div></div>
            <div class="layout">
            <h2>Item 2</h2>
            <img src="/images/doge.jpeg" />
              <h2>$38</h2>
              <p>It's a pretty neat photo, price is firm!</p>
              <div class="button2">
               <button class="button">Favourite</button>
                <button class="button">Buy</button>
                <button class="button">View</button></div>
<<<<<<< HEAD
                </div>
    <div id="items-container"></div>
  </main>
=======
                </div> -->
  <!-- </main> -->
>>>>>>> 65d98e904fe429d935470b8f0fe56c8a9d8588c2



</body>

</html>
