
div.layout {
  display: flex;
  font-family: Quantico, sans-serif;
  align-items: center;
  flex-direction: column;
  border: solid black 5px;
  vertical-align: baseline;
  background-color: #ffffff;
}

img {
  padding: 10px;
  max-width: 250px;
  max-height: 250px;
}

.items-grid {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
}

button.button {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  font-family: Quantico, sans-serif;
  font-size: 16px;
}


div.button2 {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  padding-top: 10px;
  font-family: Quantico, sans-serif;
  font-size: 16px;
}

div.button2 :hover {
  background-color: rgb(80, 73, 90);
  color: whitesmoke;
}

#item-filter-form {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: inherit;
  margin-top: 120px;
  font-family: Quantico, sans-serif;
  padding: 10px;
  border: 1px solid black;
}

label {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.filter-button {
  margin: 10px;
}

main {
  margin-top: 200px;
}
