// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

.item-spacer {
  height: 10px;
}

.artist-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


// -------------- PRICE FILTER RELATED ---------------
.filter-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#item-filter-form {
  display: flex;
  flex-direction: row;
}

.form-spacer {
  width: 20px;
}

.submit-errors {
  color: red
}
// -------------- --------------------- ---------------
