main.login {
  margin-top: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: Quantico, sans-serif;
  font-size: 40px;
}


div.form-group.mb-2 {
  font-family: Quantico, sans-serif;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header :hover {
  background-color: rgb(80, 73, 90);
  color: whitesmoke;
}
