body {
  overscroll-behavior: none;
}

nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  height: 100px;
  width: 100%;
  padding: 1.5em;
  padding-top: 0em;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(http://www.transparenttextures.com/patterns/stucco.png);
  justify-content: space-between;
  top: 0;
}

p.reason {
  display: flex;
  flex-direction: row;
  position: inherit;
  font-family: Audiowide, sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  font-size: 36px;
}

p.reality {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
  margin-top: 0px;
  padding-top: 0px;
  font-family: Quantico, sans-serif;
  font-size: 24px;
}

button.header {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  margin-top: 50px;
  margin-right: 20px;
  padding: 10px;
  font-family: Quantico, sans-serif;
  font-size: 16px;
}

div.navbar :hover {
  background-color: transparent;
  color: rgb(125, 124, 127);
}

div.navbar {
  display: flex;
  flex-direction: row;
}

div.button {
  margin-right: 20px;
}


